.Header__name {
    position: relative;
}
.Header__name h1{
    color: #fff;
    display: flex;
    flex-direction: column;
    padding:23px 20px;
    margin-bottom:20px;
}
.Header__name::after{
    content:"";
    background:rgb(82, 177, 255);
    width: 90%;
    height:1px;
    position: absolute;
    bottom:-1px;
    left:5%;

}
.Header__link {
    text-decoration: none;
    color: #CCCCCC;
    display: flex;
    flex-direction: column;
    padding:15px 20px;
    position: relative;
    margin-top:5px;
}
.Header__link:hover {
    color:#fff;
}
  
.Header__link.active {
    background-color: #000;
    color:#fff;
}
.Header__link.active::before {
    content: "";
    width: 3px;
    height: 100%;
    background:#3490DC;
    position: absolute;
    top:0;
    left:0;
}