.Users__data--name{
    height: 50px;
	display: flex;
	border-bottom: 1px solid #e7e7e7;
	line-height: 50px;
    justify-content: space-around;
    background: #fafafa;
}

.Users__data{
    margin-right:20px;
	padding: 20px 0;
	border:1px solid rgb(82, 177, 255);
}

.Users__data--data{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    border-bottom:1px solid #e7e7e7;
}
.Users__data--data p{
    width:16.6%;
    text-align: center;
    &:first-child{
        width:13%;
    }
    &:nth-child(2){
        width:20.2%;
    }
    &:nth-child(5){
        width:17.2%;
    }
}

.Users__data--data img{
    width:30%;
}

.Users__data--buttons {
    width:15.6%;
    display:flex;
    justify-content: center;
    cursor:pointer;
}
.Users__data--buttons img{
    width:10%;
    margin-right:0px;
    margin-left:10px;
}