.App__post{
    width: 65%;
    margin: 0 auto;
    padding-left:20px;
    padding-right: 20px;
    line-height: 30px;
    
  }
  .App__todo__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .App__todo__content--done{
    text-decoration: line-through;
  }
  .App__actions button{
    background-color: transparent;
    border:none;
    cursor:pointer;
    outline: none;
  }
  .App__actions{
    height: 35px;
    padding: 5px 17px;
    width: 52px;
  }
  .App__actions--icons{
    width:18px;
  }
  .App__edit__content{
    display: none;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(82, 177, 255);
    margin-bottom:20px;
  }
  .App__edit{
    width: 230px;
    padding: 6px 10px;
    border: none;
    margin: 3px -4px;
  }
  .App__edit--icons{
    width: 18px;
  }
  .Edit__form{
    display: flex;
    width:100%;
    padding:5px 10px;
    padding-right: 0px;

  }
  .App__edit--content{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  
  .Edit__form input{
    padding: 10px 10px;
    outline-color:rgb(82, 177, 255);
    outline-width: 3px;
  }
  .Edit__form textarea{
    padding:10px 0 100px 10px;
    margin:20px 0;
    outline-color:rgb(82, 177, 255);
    outline-width: 3px;
  }

  .App__post__content--post{
    border: 1px solid rgb(82, 177, 255);
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
  }
  .App__post__content--title{
    padding:5px 10px;
    max-width:75%;
  }
  .App__post__content--body{
    padding:5px 10px;
    & p{
      font-size: 12px;
    }
  }
  




  .Add__post{
    width: 35%;
    border-right: 1px solid rgb(82, 177, 255);
  }
  .Add__post h1{
    padding-bottom: 30px;
  }
  .App__form{
    display: flex;
    flex-direction: column;
    width:95%;
  }
  .App__form input{
    padding: 10px 10px;
    outline-color:rgb(82, 177, 255);
    outline-width: 3px;
  }
  
  .App__form textarea{
    padding:10px 0 20px 10px;
    margin:20px 0;
    outline-color:rgb(82, 177, 255);
    outline-width: 3px;
  }
  .App__form button{
    padding:10px;
    outline-color:rgb(82, 177, 255);
    outline-width: 3px;
    background: #3490DC;
    color:#fff;
    font-size:12px;
  }