.Register{
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #F8FAFC;

}
.Register__inner{
    margin-top:150px;
    width: 500px;
    height: 400px;
    background:#fff;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
}
.Register__name{
    width: 100%;
    border-bottom: 1px solid #DFDFDF;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    margin-bottom:20px;
}
.Register__name h1{
    padding:18px;
}
.Register__form{
    display: flex;
    flex-direction: column;
    padding:0px 18px;
}
.Register__form input{
    width: 95%;
    padding:10px;
    margin-bottom:20px;
    outline-color: #3490DC;
    outline-width: 3px;
    font-size:12px;
    cursor:pointer;
}

.Register__button{
    display: flex;
    align-items: center;
    padding: 0 18px;
}
.Register__button button{
    width: 30%;
    background:#3490DC;
    color:#fff;
    border:none;
    padding:10px;
    border-radius:3px;
    outline-color: #3490DC;
    outline-width: 3px;
    
    
    &:hover{
        background: rgb(23, 125, 207);
        cursor: progress;
    }
}
.Register__button h2{
    padding-left: 20px;
    font-size:12px;
}
.Register__button span{
    color:#3490DC;
    text-decoration: none;
    outline-color: #3490DC;
    outline-width: 3px;
    cursor:pointer;
}
.Register__button span:hover{
    color: rgb(0, 98, 179);
    text-decoration: underline;

}