.Header__home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:18.5px;
    margin-right:20px;
    border-bottom: 1px solid rgb(82, 177, 255);
    margin-bottom:30px;
    
}

.Header__home--buttons button{
    padding:5px 15px;
    background: none;
    font-size:13px;
    border:none;
    cursor:pointer;
    outline:none;
    &:first-child{
        border-right: 1px solid rgb(82, 177, 255);
        &:active{
            border:1px solid rgb(82, 177, 255);
            padding:4px 15px;
        }
    };
    &:last-child{
        &:active{
            outline:1px solid rgb(82, 177, 255);
        }
    }
}

