.Login{
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #F8FAFC;

}
.Login__inner{
    margin-top:150px;
    width: 500px;
    height: 300px;
    background:#fff;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
}
.Login__name{
    width: 100%;
    border-bottom: 1px solid #DFDFDF;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    margin-bottom:20px;

}
.Login__name h1{
    padding:18px;
}
.Login__form{
    display: flex;
    flex-direction: column;
    padding:20px 18px;
}
.Login__form input{
    width: 95%;
    padding:10px;
    margin-bottom:20px;
    outline-color: #3490DC;
    outline-width: 3px;
    font-size:12px;
}

.Login__button{
    display: flex;
    align-items: center;
}
.Login__button button{
    width: 30%;
    background:#3490DC;
    color:#fff;
    border:none;
    padding:10px;
    border-radius:3px;
    outline-color: #3490DC;
    outline-width: 3px;
    cursor: pointer;
}
.Login__button button:hover{
    background: rgb(23, 125, 207);
}
.Login__button h2{
    padding-left: 20px;
    font-size:12px;
}
.Login__button span{
    color:#3490DC;
    text-decoration: none;
    outline-color: #3490DC;
    outline-width: 3px;
    cursor:pointer;
}
.Login__button span:hover{
    color: rgb(0, 98, 179);
    text-decoration: underline;

}